@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lakki+Reddy&family=Nunito+Sans:opsz,wght@6..12,400;6..12,800&family=Nunito:ital,wght@0,500;1,500&family=Quicksand:wght@700&family=Space+Grotesk:wght@300..700&display=swap');

.horoscope-list {
    max-width: 896px;
    margin: 0 auto;
  
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .link-underline {
            text-decoration: none;
        }
        .block-horoscope {
            
            list-style: none;
            width: 209px;
            height: 210px;
            background: #f1f3f9;
            margin: 10px 0;
            
            img {
                width: 50px;
                height: 50px;
                margin: 20px 50px 0;
                filter: brightness(0) saturate(100%) invert(48%) sepia(96%) saturate(401%) hue-rotate(200deg) brightness(92%) contrast(92%);
                margin-bottom: 1.25rem;
            }

            h2 {
                font-family: "Space Grotesk", sans-serif;
                font-size: 1.25rem;
                line-height: 1.75rem;
                color: #1d1e20;
                font-weight: 500;
                margin-bottom: .5rem;
            }
            p {
                font-size: 11px;
                color:#5e636e ; 
            }
        }
        .block-horoscope:hover {
            background: #dee3ed;
        }
    }
}
.current-day{
    padding-top: 128px;
    padding-bottom: 32px;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: start;
    
};
// Current Horoscope
.current-zodiac {
    max-width: 896px;
    margin: 0 auto;
    max-width: 56rem;
    margin-bottom: auto;

    .block-current-zodiac {
        margin-top: 8rem;
        margin-bottom: 6rem;

        h1 {
            display: flex;
            justify-content: flex-start;
            font-weight: 700;
            padding-bottom: 1.25rem;
            font-size: 1.875rem;
            line-height: 2.25rem;
        }
        h2 {
            display: flex;
            justify-content: flex-start;
            padding-bottom: 1.25rem;
        }
        p {
            text-align: start;
            line-height: 1.5;
            color: rgb(82 82 82/var(--tw-text-opacity));
        }
    }
   
}
// Find Horoscope

.select-horoscope {
    display: flex;
    width: 100%;
    margin-top: 15px;

    form {
        width: 100%;
        display: flex;
        align-items: self-end;

        label {
            font-weight: 500;
            display: block;
            text-align: start;
            font-family: "Space Grotesk", sans-serif;
        }
        .months {    
           .form-select{
                display: flex;
                // width: 120px;
                justify-content: flex-start;
                margin-top: 5px;
                height: 30px;
                border: 1px solid rgb(170, 170, 170);
                background: #ffffff;
                padding: 0 5px;
                border-radius: 5px;
                font-family: "Space Grotesk", sans-serif;
           }
        }
        .days {
            margin-left: 20px;
            select {
                width: 110px;
                display: flex;
                justify-content: flex-start;
                height: 30px;
                margin-top: 5px;
                padding: 0 5px;
                border: 1px solid rgb(170, 170, 170);
                background: #ffffff;
                font-family: "Space Grotesk", sans-serif;
                border-radius: 5px;
            }
        }
        button {
            width: 190px;
            height: 30px;
            margin-left: 10px;
            padding-top: .375rem;
            padding-bottom: .375rem;;
            border: 1px solid rgb(170, 170, 170);
            background-color: rgb(0, 0, 0);
            color: #f1f3f9;
            font-weight: 500;
            border-radius: 5px;
            border-width: 1px;
            border-color: transparent;
            cursor: pointer;
        }
    } 
}
.combine-component {
    max-width: 896px;
    margin: 0 auto;

    .find-horoscope {
        display: flex;
        justify-content: flex-start;
       
        a{
            display: block;
            line-height: 1.5rem;
            text-decoration: inherit;
            font-weight: 500;
            font-size: 1.25rem;
            padding-top: 1rem;
            padding-bottom: 1.5rem;
            color: black;
        }
    }
    .line-theme {
        max-width: 896px;
        height: 1px;
        background: grey;
    }
    .theme {
        display: flex;
        justify-content: space-between;
        

        p{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.75rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            .icon-theme {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }

}
@media(max-width:500px) {
    .horoscope-list {
       
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
           .block-horoscope {
                max-width: 180px;
            }  
       }
   }
   .select-horoscope {
       
    form {
        display: block;
        
        .months {
            .form-select{
                width: 100%;
            }
        }
        .days{
            margin:5px 0;

            .form-select{
                width: 100%;
            }
        }
        button {
            width: 100%;
            margin: 5px 0;
        }
    }
   } 
}

@media(max-width:390px) {
    .horoscope-list {
       
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
           .block-horoscope {
                max-width: 150px;
                // margin: 5px 2px;
         }  
    }
  }
}
@media(max-width:375px) {
    .horoscope-list {
       
      
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
           .block-horoscope {
                max-width: 150px;
                
         }  
    }
  }
}